<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Messages</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign out">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
<p></p>
<div>
    <form method="post" action="addMessage">
        <input type="text" name="text" placeholder="Input text"/>
        <input type="text" name="tag" placeholder="Input tag"/>
        <button type="submit">Add message</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
<h1>Список сообщений</h1>
<div>
    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="Input filter Tag">
        <button type="submit">Найти</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
<table>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Text</th>
        <th scope="col">Tag</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message: ${messages}">
        <td th:text="${message.id}"/>
        <td th:text="${message.text}"/>
        <th th:text="${message.tag}"/>
    </tr>
    </tbody>
</table>
</body>
</html>